.area__dinamica {
    border: 1px solid red;
    margin: 10px;
}

.container__titulo h1 {
    margin: 0px !important;
    font-weight: 600 !important;
}

.container__titulo p {
    color: var(--primary);
    font-family: "Sometype Mono", monospace;
    text-transform: uppercase;
}

.container__table {
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
    margin: 0px 10px;
}

.table {
    font-size: 0.8rem !important;
}

.table th {
    
}


.table .td__2 span:nth-child(1) {
    display: block;
    font-weight: 500;
}

.table .td__2 span:nth-child(2) {
    display: block;
    color: var(--text-dark);
}

.table__foto {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.status__efetivo {
    border-radius: 8px;
    text-align: center;
    font-size: 0.9em;
    padding: 2px 6px;
}

.status__ativo {
    border: 1px solid #A3CFBB;
    color: #0A3622;
    background-color: #D1E7DD;
}

.status__agregado {
    border: 1px solid #F1AEB5;
    color: #58151C;
    background-color: #F8D7DA;
}


.status__inativando {
    border: 1px solid #FFE69C;
    color: #664D24;
    background-color: #FFF3CD;
}


.link__whats {
    color: #37D653;
}

.card_row__pessoa {
    border: 1px solid #8D8D8D;
    background-color: #F9F9F9;
    color: #141414 !important;
    border-radius: 6px;
    margin-bottom: 2px;
    padding: 3px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_row__pessoa img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.card__equipe_A {
    color: #2D8654;
    color: #064421;
    border-color: #41C77C;
    background-color: #4CE78F;
}

.card__equipe_B {
    color: #582D1D;
    border-color: #EDC499;
    background-color: #FFD3A4;
}

.card__equipe_C {
    color: #2462A9;
    border-color: #63CCF2;
    background-color: #CEEBF6;
}

.card__equipe_D {
    color: #852a39;
    border-color: #f16483;
    background-color: #FFC9D5;
}

.card__equipe_E {
    color: #a38539;
    border-color: #f7c957;
    background-color: #FFF8C4;
}


.card_modal__body {
    padding: 0px !important;
    border-radius: 7px;
    overflow: hidden;
    height: 250px;
    display: grid;
    grid-template-areas: "foto desc" "foto button";
    grid-template-columns: 187.5px auto;
    grid-template-rows: auto 60px;
}

.card_modal__foto {
    width: 187.5px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    grid-area: foto;
}

.card_modal__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_modal__desc {
    grid-area: desc;
    padding: 15px;
}

.card_modal__button {
    grid-area: button;
    padding: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn__primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn__primary:hover {
    background-color: var(--primary);
    color: var(--white);
    text-decoration: underline;
    filter: saturate(60%);
}

.btn__secondary {
    border-color: var(--primary);
    filter: saturate(60%);
}

.btn__secondary:hover {
    border-color: var(--primary);
    text-decoration: underline;
}

/** Bootstrap */
.form-label {
    line-height: 0 !important;
    margin-top: 20px !important;
}